<header class="main-header">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/"><p class="title">NO CLOSED CLASS</p></a>
            </div>
            <ul class="nav navbar-nav">
                <a href="/help"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>

                <a href="/contact"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            </ul>
        </div>
    </nav>
</header>



