<header class="main-header">
    <a href="/">
        <p class="title">No Closed Class</p>
    </a>

    <a href="/help">
        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    </a>

    <a href="/contact">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </a>
</header>