<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>No Closed Class</title>
    <script src="js/jquery-3.2.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="css/index.css" >
    <link type="text/css" rel="stylesheet" href="css/contact-conf.css" >
</head>
<body>
    {{> header}}

    <h1 class="contact-conf">Your message has been sent, we will respond as soon as possible. <br/> Thank you.</h1>

    {{> footer}}
</body>
</html>