<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>No Closed Class</title>
    <script src="js/jquery-3.2.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="css/index.css" >
</head>
<body>
    {{> header}}
    <div class="container">
        <div id="class_form">
            <h3 class="" >Choose your course</h3>
            <fieldset>
                <select name="institution" id="institution" onchange="getSubject(event)">
                    <option value="" selected="selected">Choose College...</option>
                    <option value="BAR01">Baruch College</option>
                    <option value="BMC01">Borough of Manhattan CC</option>
                    <option value="BCC01">Bronx CC</option>
                    <option value="BKL01">Brooklyn College</option>
                    <option value="LAW01">CUNY School of Law</option>
                    <option value="MED01">CUNY School of Medicine</option>
                    <option value="SPH01">CUNY School of Public Health</option>
                    <option value="CTY01">City College</option>
                    <option value="CSI01">College of Staten Island</option>
                    <option value="NCC01">Guttman CC</option>
                    <option value="HOS01">Hostos CC</option>
                    <option value="HTR01">Hunter College</option>
                    <option value="JJC01">John Jay College</option>
                    <option value="KCC01">Kingsborough CC</option>
                    <option value="LAG01">LaGuardia CC</option>
                    <option value="LEH01">Lehman College</option>
                    <option value="MEC01">Medgar Evers College</option>
                    <option value="NYT01">NYC College of Technology</option>
                    <option value="QNS01">Queens College</option>
                    <option value="QCC01">Queensborough CC</option>
                    <option value="SPS01">School of Professional Studies</option>
                    <option value="YRK01">York College</option>
                </select>
            </fieldset>

            <fieldset>
                <select id="term" name="term" onchange="getSubject(event)">
                    <option value="">Choose Term...</option>
                    <option value="1179">Fall Semester 2017</option>
                    <option value="1182" selected="selected">Spring Semester 2018</option>
                </select>
            </fieldset>

            <fieldset>
                <select id="subject" name="subject">
                    <option value="" selected="selected">Choose Subject...</option>
                </select>
            </fieldset>

            <fieldset>
                <input type="number" id="course_num" name="course_num" placeholder="Course Number Ex. '101'">
            </fieldset>

            <fieldset>
                <input type="number" id="phone_num" name="phone_num" placeholder="Phone Number Ex. 7184567890">
            </fieldset>

            <fieldset>
                <select id="carrier" name="carrier">
                    <option value="">Enter carrier...</option>
                    <option value="@txt.att.net">AT&T</option>
                    <option value="@tmomail.net">T-Mobile</option>
                    <option value="@messaging.sprintpcs.com">Sprint</option>
                    <option value="@vtext.com">Verizon</option>
                    <option value="@mymetropcs.com">MetroPCS</option>
                    <option value="@smtext.com">Simple Mobile</option>
                    <option value="@sms.mycricket.com">Cricket</option>
                    <option value="@vmobl.com">Virgin Mobile</option>
                    <option value="@email.uscc.net">US Cellular</option>
                    <option value="@myboostmobile.com">Boost Mobile</option>
                    <option value="@qwestmp.com">Qwest</option>
                    <option value="@messaging.nextel.com">Nextel</option>
                    <option value="other">Other</option>
                </select>
            </fieldset>

            <fieldset>
                <button type="button" id="submit-class" onclick="getSpecificCourse(event)">Submit</button>
            </fieldset>
        </div>
    </div>

    <div id="loader" class="loader" style="visibility: hidden;"></div>

    <div id="confirmation"></div>

    <div id="topic"></div>
    <div class="table-responsive-vertical" id="class_table">
        <table id="table" class="table table-hover">
            <thead>
                <tr>
                    <th>Class Number</th>
                    <th>Day & Time</th>
                    <th>Location</th>
                    <th>Instructor</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody id="table_body">

            </tbody>
        </table>
    </div>

    {{> footer}}

    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>