<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>No Closed Class</title>
    <script src="js/jquery-3.2.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="css/index.css" >
    <link rel="stylesheet/less" type="text/css" href="css/table.less" />
</head>
<body>
    <div class="container">
        <div id="class_form">
            <h3>Choose your course</h3>
            <fieldset>
                <select name="institution" id="institution" onchange="getInstTermVal(event)">
                    <option value="" selected="selected">Choose college...</option>
                    <option value="BAR01">Baruch College</option>
                    <option value="BMC01">Borough of Manhattan CC</option>
                    <option value="BCC01">Bronx CC</option>
                    <option value="BKL01">Brooklyn College</option>
                    <option value="LAW01">CUNY School of Law</option>
                    <option value="MED01">CUNY School of Medicine</option>
                    <option value="SPH01">CUNY School of Public Health</option>
                    <option value="CTY01">City College</option>
                    <option value="CSI01">College of Staten Island</option>
                    <option value="NCC01">Guttman CC</option>
                    <option value="HOS01">Hostos CC</option>
                    <option value="HTR01">Hunter College</option>
                    <option value="JJC01">John Jay College</option>
                    <option value="KCC01">Kingsborough CC</option>
                    <option value="LAG01">LaGuardia CC</option>
                    <option value="LEH01">Lehman College</option>
                    <option value="MEC01">Medgar Evers College</option>
                    <option value="NYT01">NYC College of Technology</option>
                    <option value="QNS01">Queens College</option>
                    <option value="QCC01">Queensborough CC</option>
                    <option value="SPS01">School of Professional Studies</option>
                    <option value="YRK01">York College</option>
                </select>
            </fieldset>

            <fieldset>
                <select id="term" name="term" onchange="getInstTermVal(event)">
                    <option value="" selected="selected">Choose Term...</option>
                    <option value="1179" >Fall Semester 2017</option>
                    <option value="1182" >Spring Semester 2018</option>
                </select>
            </fieldset>

            <fieldset>
                <select id="subject" name="subject">
                    <option value="" selected="selected">Choose Subject...</option>
                </select>
            </fieldset>

            <fieldset>
                <input type="number" id="class_num" name="class_num" placeholder="Course Number">
            </fieldset>

            <fieldset>
                <button name="submit" type="submit" id="contact-submit" onclick=getSpecificCourse(event)>Submit</button>
            </fieldset>
        </div>
    </div>

    <div class="table-responsive-vertical" id="class_table">
        <table id="table" class="table table-hover">
            <thead>
                <tr>
                    <th>Class Number</th>
                    <th>Day & Time</th>
                    <th>Location</th>
                    <th>Instructor</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody id="table_body">

            </tbody>
        </table>
    </div>

    <script>
        function getSpecificCourse(event){
            fetch(`/subjects/${document.querySelector('#institution').value}/${document.querySelector('#term').value}/${document.querySelector('#subject').value}/${document.querySelector('#class_num').value}/`).then(async (res) =>{
                let classes = await res.json();
                document.getElementById('table').style.visibility = "visible";
                for(let key in classes){
                    if(classes.hasOwnProperty(key)){
//                        document.getElementById("modal-title").innerHTML = `${classes[key]}`;

                        for(let secKey in classes[key]){
                            if(classes[key].hasOwnProperty(secKey)) {
                                let classNmbr = classes[key][secKey].Class;
                                let dayTime = classes[key][secKey]['Days & Time'];
                                let room = classes[key][secKey].Room;
                                let instructor = classes[key][secKey].Instructor;
                                document.getElementById("table_body").insertRow(-1).innerHTML = `<td>${classNmbr}</td>` +
                                        `<td>${dayTime}</td>` +
                                        `<td>${room}</td>` +
                                        `<td>${instructor}</td>` +
                                        `<td><button type="submit">Add to cart</button></td>`;
                            }
                        }
                    }
                }
            });
        }

        function getInstTermVal(event) {
            document.getElementById('subject').options.length = 0;
            $('#subject').append('<option value="">Choose Subject...</option>');

            if (document.querySelector('#institution').value !== '' && document.querySelector('#term').value !== '') {
                fetch(`/subjects/${document.querySelector('#institution').value}/${document.querySelector('#term').value}`).then(async (res) => {
                    let subject = await res.json();
                    for(let key in subject){
                        if(subject.hasOwnProperty(key)){
                            $('#subject').append($('<option>', {
                                value: subject[key],
                                text : key
                            }));
                        }
                    }
                });
            }
        }

        /*
            function getInst(event) {
                fetch(`/subjects/`).then(async (res) => {
                    let term = await res.json();
                    for(let key in term){
                        if(term.hasOwnProperty(key)){
                            $('#institution').append($('<option>', {
                                value: term[key],
                                text : key
                            }));
                        }
                    }
                });

            } //Only use for pulling Institutions

            function getInstVal(event) {
                document.getElementById('term').options.length = 0;
                $('#term').append('<option value="">Choose Term...</option>');

                if (document.querySelector('#institution').value !== '') {
                    fetch(`/subjects/${document.querySelector('#institution').value}/${document.querySelector('#term').value}/`).then(async (res) => {
                        let term = await res.json();
                        for(let key in term){
                            if(term.hasOwnProperty(key)){
                                $('#term').append($('<option>', {
                                    value: term[key],
                                    text : key
                                }));
                            }
                        }
                    });
                }
            }
        */
    </script>
</body>
</html>