<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>No Closed Class</title>

    <script src="../public/js/jquery-3.2.1.min.js"></script>
</head>
<body>
    <form method="POST" action="/add">
        <select name="institution" id="institution" onchange="getInstVal(event)">
            <option value="" selected="selected">Choose college...</option>
            <option value="QNS01">Queens College</option>
            <option value="BAR01">Baruch</option>
            <option value="BKL01">Brooklyn College</option>
        </select>

        <select id="term" name="term" onchange="getInstTermVal(event)">
            <option value="" selected="selected">Choose term...</option>
        </select>

        <select id="subject" name="subject">
            <option value="" selected="selected">Choose subject...</option>
        </select>

        <input type="number" id="class_num" name="class_num" placeholder="Course Number">

        <input type='text' id="phone" name="phone" placeholder="Number">

        <select id="carrier" name="carrier">
            <option value="">Enter carrier...</option>
            <option value="@tmomail.net">T-Mobile</option>
        </select>

        <input type="submit" />
    </form>
</body>
<script>
    function getInstVal(event) {
        if (document.querySelector('#institution').value !== '') {
            fetch(`/subjects/${document.querySelector('#institution').value}`).then(async (res) => {
                let term = await res.json();
                for(let key in term){
                    if(term.hasOwnProperty(key)){
                        $('#term').append($('<option>', {
                            value: term[key],
                            text : key
                        }));
                    }
                }
            });
        }
    }

    function getInstTermVal(event) {
        if (document.querySelector('#institution').value !== '' && document.querySelector('#term').value !== '') {
            fetch(`/subjects/${document.querySelector('#institution').value}/${document.querySelector('#term').value}`).then(async (res) => {
                let subject = await res.json();
                for(let key in subject){
                    if(subject.hasOwnProperty(key)){
                        $('#subject').append($('<option>', {
                            value: subject[key],
                            text : key
                        }));
                    }
                }
            });
        }
    }
</script>
</html>