h1{
    margin: 50px 0 25px 0;
    text-align: center;
}

/*.contact-form {*/
    /*font: 16px Helvetica;*/
/*}*/

.form_contact {
    width: 600px;
    margin: 25px auto 0 auto;
    overflow: hidden;
    background: white;
    border-radius: 5px;
}

.message, .contact, .email_subject, .name, textarea {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    clear: both;
    overflow: hidden;
}

.first, .last {
    float: left;
    width: 50%;
    margin: 0;
    padding: 0 0 0 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 50px;
}

.last {
    width: 50%;
    border-left: 0;
}

.email, .subject, textarea {
    height: 50px;
    width: 100%;
    line-height: 50px;
    padding: 0 0 0 20px;
    border-top: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

textarea {
    height: 200px;
}

.contact-button {
    cursor: pointer;
    border: none;
    background: #3498db;
    color: #FFF;
    margin: 25px 0 0 0;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
}

.contact-button:hover {
    background: #0288D1;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#button-wrapper {
    display: flex;
    justify-content: center;
}

.first:focus, .last:focus, .email:focus, .subject:focus, textarea:focus {
    outline: none;
    background: rgba(52, 152, 219, 0.1);
    color: rgba(51, 51, 51, 0.7);
}
